# See https://www.toptal.com/developers/gitignore/api/rails
.DS_Store
*.log
/tmp
/storage
!/storage/.keep
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
config/credentials/*.key
.env
.env*.local
